body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f4f4f9; /* Color de fondo alternativo en caso de que la imagen no se cargue */
    color: #333;
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #93d695, #72b486);
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

nav {
    background-color: #444;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    display: block;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
    transform: scale(1.1);
}

main {
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 60px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: translateY(-10px);
}

section h2 {
    color: #4CAF50;
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    text-transform: uppercase;
}

section p {
    font-size: 1.2em;
    line-height: 1.8;
}

.equipo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.miembro-equipo {
    text-align: center;
    margin: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.miembro-equipo:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.miembro-equipo img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.miembro-equipo h3 {
    margin-top: 15px;
    font-size: 1.5em;
}

.miembro-equipo p {
    font-size: 1.1em;
    color: #666;
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

